PyTAAADL
python=3.
numexpr
numpy
scipy
cython
h5py
pytables
c-blosc
blosc
pandas=0.20.3
pandas-datareader
beautifulsoup4
lxml
html5lib
bottleneck
jupyter
matplotlib>1.4.3
xlrd
nose
paramiko
scikit-learn
spyder
tensorflow
mkl=2018.0.2
multitasking
